<!DOCTYPE kpartgui>
<kpartplugin name="kateseatd" library="libkateseatdplugin" version="2">
<MenuBar>
    <Menu name="view"><Text>&amp;Settings</Text>
        <Separator />
        <Action name="view_list_modules" />
        <Action name="view_list_declarations" />
    </Menu>
</MenuBar>
</kpartplugin>
