<!DOCTYPE kpartgui>
<kpartplugin name="kateseatd" library="libkateseatdplugin" version="2">
<MenuBar>
    <Menu name="view"><Text>&amp;Settings</Text>
        <Separator />
        <Action name="view_list_modules" />
        <Action name="view_list_declarations" />
        <Action name="view_goto_declaration" />
    </Menu>
    <Menu name="edit"><Text>&amp;Edit</Text>
        <Separator />
        <Action name="edit_duplicate" />
    </Menu>
</MenuBar>
</kpartplugin>
